body{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: whitesmoke;
}
#home{
    background-image: url("https://media.giphy.com/media/tL5HmgfZi0Qow/giphy.gif");
    background-size: cover;
    padding: 10px 0 400px 0;
}
.logo{
    width: 300px;
    margin-bottom: 20px;
}
.btn{
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0px 0px 4px rgb(214, 9, 153);
    padding: 10px;
}
.border-black{
    border-bottom: 4px solid whitesmoke;
}
#title {
    text-shadow: 0px 0px 4px rgb(214, 9, 153);
}
#Terms{
    text-shadow: 0px 0px 4px rgb(12, 1, 1);
}
